body {
  text-align: center;
}

.primary-nav {
  background-color: lightgray;
  padding: 16px 32px;
}

.secondary-nav {
  margin-top: 20px;
}

nav a {
  margin-right: 16px;
}

input {
  margin-top: 30px;
  font-size: 20px;
}

button {
  background-color: #7e7e7e; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
  color: white;
}